body {
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}

h1 {
    font-size: 50px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;

}

.half-width {
    width: 50%;
    padding-left: 10%;
}

.half-width img {
    width: 75%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700px;
    border-radius: 5px;
}

.top-banner {
    background-image: url(top-banner.png);
    background-repeat: no-repeat;

}

.dream-big {
    background-image: url(dream-big.png);
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 200px;
}

.experience-area {
    background-image: url(exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}

.experience-item {
    margin-left: 50px;
    margin-right: 50px;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 20px;
    box-shadow: 10px 10px 40px gray;
}

#Full-Stack-Developer {
    border-left: 7px solid tomato;
}

#Baby-Web-Developer {
    border-left: 7px solid blue;
}

footer p {
    text-align: center;
}